<h2 align="center"> Are you a women in the tech field (computer engineer , software developer , software engineer, web developer , programmer , or aspiring to be any of the forementioned) ?</h2>
<h1 align="center">Sign Up for the AlphaCodeness Blog!</h1>

<%= render 'form' %>